<footer style="min-height: 350px; width: 100%; background-color: rgb(245, 244, 244); padding-top: 3vw;" id="about">
    <div class="cc">
        <div>
            <h1 style="font-size: 3rem; font-weight: 700; padding: 0 3vw;" class="text-center">World Wide Land</h1>
            <div class="dc mt-4" style="gap: 2vw;">
                <a><i style="color: black; " class="fab fa-facebook-f"></i></a>
                <a><i style="color: black;" class="fab fa-dribbble"></i></a>
                <a><i style="color: black;" class="fab fa-twitter"></i></a>      
            </div>
        </div>
        <div style="width: 800px;">
            <h1>About</h1>
            <p>
                "Welcome to World Wide Land, where your real estate goals become our top priority. With a
                passion for excellence and a commitment to personalized service, we're your trusted partner in
                navigating the dynamic world of real estate. Backed by years of local expertise and a team of dedicated
                professionals, we offer comprehensive solutions tailored to your unique needs. Whether you're buying,
                selling, or investing, we're here to guide you every step of the way. Contact us today to discover the
                difference World Wide Land can make for you."</p>
        </div>
        <div style="padding: 0 3vw; margin-right: 3vw;">
            <h3>Quick Links</h3>
            <p class="ms-5 mt-3">Home</p>
            <p class="ms-5">Contact</p>
            <p class="ms-5">Feedback</p>
        </div>
    </div>  
    <div style="height: 50px; background-color: rgb(236, 236, 236); margin-top: 2vw;">
        <p class="text-center pt-2" style="font-size: larger; font-weight: 700;">Copyright &copy;Sudhanshu Ranjan: World Wide Land</p>
    </div>
</footer>
