{% extends 'html/main.html'%}

{%block content%}

<div class="dc">
    <div class="frm">
        <h2 class="mt-4 mb-3">Inquiry Form</h2>
        <form method="post" action="{% url 'inquiry' p.id %}">
            {% csrf_token %}
            <div class="form-group mb-4">
                <label for="question">Question:</label>
                <textarea class="form-control" id="question" name="question" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-info d-block mx-auto w-25">Submit</button>
        </form>
    </div>
</div>

{%endblock%}
